{% load staticfiles %}
<!--Esta etiqueta sirve para cargar archivos HTML estaticos-->

<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/listar_producto.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/ver_producto.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/listar_vendedor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/ver_vendedor.css' %}">

  <!--JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!--Slider-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"> 
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  
  <!--Moment JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>


  
  

  {% block extrastatic %}
  {% endblock %}

  <title>{% block title %}Entel {% endblock %}</title>

</head>

<body>

  <div class="container">
    
    {% block navbar %}
    {% if user.admin == True %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img id="img_titulo" src="{% static 'img/notebook-computer.png' %}">
      <a class="navbar-brand" href="#">ENTEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'producto:listar_producto' %}">Listar Productos</a>
              <a class="dropdown-item" href="{% url 'producto:crear_producto' %}">Ingresar un Producto</a>
              <div class="dropdown-divider"></div>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Vendedores 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'vendedor:listar_vendedor' %}">Listar Vendedores</a>
              <a class="dropdown-item" href="{% url 'vendedor:crear_vendedor' %}">Registrar Vendedor</a>
              <div class="dropdown-divider"></div>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'venta:listar_venta' %}">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'producto:categorias' %}">Categorias</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    {% else %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="img_titulo" src="{% static 'img/notebook-computer.png' %}">
        <a class="navbar-brand" href="#">ENTEL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'venta:listar_venta' %}">Listar Ventas</a>
            </li>
            
        </div>
      </nav>
    {% endif %}
    <div class="caja-cerra-sesion">
      <ul id="barra-sesion">
        
        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
      </ul>
    </div>
    {% endblock %}
    {% block Slider %}
      <!--Slider-->
      <div id="slider">
        <div class="galeria">
            <div><img src="{% static 'img/mouse.jpg' %}" ></div>
            <div><img src="{% static 'img/smart.jpg' %}" ></div>
            <div><img src="{% static 'img/samsung-notebook.jpg' %}" ></div>
            <div><img src="{% static 'img/mejores-celulares-2018.jpg' %}" ></div>
        </div>
        <div id="reloj">
            
        </div>
    </div>
    {% endblock Slider %}
    {% block content %}     
    {% endblock %}


    {% block footer %}
    {% endblock%}
  </div>
 
  
   <!--Mis script-->
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>


  {% block extrajs %}
  {% endblock %}
  {# JS y jQuery Bootstrap #}

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar Registro ?");
      if (x)
        return true;
      else
        return false;
    }
    
  </script>


</body>

</html>