{% extends 'base/base.html'%}
{% load staticfiles %}

{% block title %}Entel - Listado de Productos {% endblock %}
{% block Slider %}
{% endblock %}
{% block content %}
<p id="cabezera-listar-producto">MANTENEDOR PRODUCTOS</p> {{cantidad}}
<span class="user-ver-vendedor">Usuario: {{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno}}</span>
<p class="fecha-actual"> Fecha Actual: {% now | %}</p><p id="reloj">  </p>

<div class="btn-group">
    <a href="{% url 'producto:crear_producto' %}" title="Ver" type="button" class="btn btn-success">CREAR NUEVO PRODUCTO</a>
</div>

{% if messages %}
<ul class="messages list-group mb-3">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary" {% endif %}>
        {{ message }}</li>
        {% endfor %}
</ul>
{% endif %}


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="col-general">

            <td scope="col"><strong>ID</strong></td>
            <td scope="col"><strong>DESCRIPCION DEL PRODUCTO</strong></td>
            <td scope="col"><strong>ACCIONES</strong></td>
        </tr>

    </thead>
    <tbody>
        {% if productos %}
        {% for producto in productos %}
        <tr id="row-listar-producto">

            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>
                <form method="POST" action="{% url 'producto:eliminar_producto' producto.id %}">
                    {% csrf_token %}
                    <div class="btn-group">
                        <a href="{% url 'producto:ver_producto' producto.id %}" title="Ver" type="button"
                            class="btn btn-success">Ver </a>
                        <a href="{% url 'producto:editar_producto' producto.id %}" title="Editar" type="button"
                            class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                    </div>
                </form>
            </td>
            <td>
                
            </td>
        </tr>
        
        {% endfor %}
        {% else %}
        <h2>No existen productos registrados</h2>
        {% endif %}
    </tbody>
</table>

{% endblock %}