{% extends 'base/base.html' %}
{% load staticfiles %}
{% block titulo-base %}{% endblock %}
{% block Slider %}
{% endblock %}

{% block content %}
<p class="titulo-listar-categoria">MANTENEDOR CATEGORIA DE PRODUCTOS : {{ producto.id }}</p>
<span class="user-ver-vendedor">Usuario Administrador: {{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno}}</span>
<p class="fecha-actual"> Fecha Actual: {% now | %}</p><p id="reloj">  </p>

<div class="btn-group" id="btn-crear_tipo">
    <a href="{% url 'producto:crear_categoria' %}" title="Ver" type="button" class="btn btn-success">Crear Nueva Categoria</a>
</div>

{% if messages %}
<ul class="messages list-group mb-3">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary" {% endif %}>
        {{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="col-general">
            
            <td scope="col">ID</td>
            <td scope="col">NOMBRE DE LA CATEGORIA</td>
            <td scope="col">ACCIONES</td>
        </tr>

    </thead>
    <tbody>
    {% if tipoProductos %} 
    {% for tipo in tipoProductos %}
        <tr id="row-gategoria">                    
            <td>{{ tipo.id }}</td>
            <td>{{ tipo.nombre }}</td>
            <td>
                <form method="POST" action="{% url 'producto:eliminar_categoria' tipo.id %}">
                    {% csrf_token %}
                    <div class="btn-group">
                        <a href="{% url 'producto:editar_categoria' tipo.id %}" title="Editar" type="button"
                        class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                    </div>
                </form>
            </td>
        </tr>
        
        {% endfor %}
        {% else %}
            <h2>No existen categorias creadas</h2>
        {% endif %}
    </tbody>   
</table>

{% endblock %}